# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn

nltk

# tests/linter
black
coverage
flake8
pytest
yapf

# Data Vis
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
scattertext
wordcloud
folium


# API
gcsfs
google-cloud-storage

s3fs

# utilities
six>=1.14
joblib
memoized-property
termcolor


#app
streamlit
pyecharts
streamlit_echarts
streamlit_folium
requests

